body, div, p {
	border: 0;
	padding: 0;
	margin: 0
}
body {
	padding: 20px;
	font-family: Gill Sans;
	font-size: 10pt;
	color: #333;
}
div.container {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	padding: 10px;
	border: 1px solid #999;
	box-shadow: 2px 2px 15px #ccc;
	background: #eee;
}
div.event {
	margin: 0 5px 2px 5px;
	color: #666;
}
