[Corpus]

# Currently only support one format: file
# In the future: file, folder, lucene

format = file
path = corpus/example-documents.txt

### these both work for unicode encoded corpus files:
# tokenization = [^ ]+
tokenization = whitespace


# -----------------------------------------------------------------------------

[TopicModel]

# Two topic models
# Supported libraries: mallet, stmt
library = mallet
; library = stmt

# Path to save topic model outputs
path = output/example-project/topic-model

# Number of topics to train
num_topics = 20

# -----------------------------------------------------------------------------

[Termite]

# Currently only support one format: file
# In the future: file, database
format = file

# Path to save Termite-internal working files
path = output/example-project

# Number of terms to seriate
number_of_seriated_terms = 400

# -----------------------------------------------------------------------------

[Misc]

# Miscellaneous program configurations

;logging = 10   # Display all debug messages
;logging = 20   # Display info messages
;logging = 30   # Display only warnings
;logging = 40   # Display only errors
